.text-first-orange {
    color: #F79646
}

.text-second-orange {
    color: #F46100
}

.text-first-blue {
    color: #3C6074;
}

.text-second-blue {
    color: #499BC9
}

.text-first-gray {
    color: #606060
}

.text-second-gray {
    color: #F8F8F8
}

.text-third-gray {
    color: #a6a6a6
}

.text-fourth-gray {
    color: #bfbfbf
}

.text-cs-basic-header {
    color: #E26B0A
}

.text-cs-basic-info {
    color: #FABF8F
}

.text-cs-academic-header {
    color: #4F81BD
}

.text-cs-academic-info {
    color: #95B3D7
}

.text-cs-real-header {
    color: #8064BD
}

.text-cs-real-info {
    color: #B1A0C7
}

.text-cs-financial-header {
    color: #9BBB59
}

.text-cs-financial-info {
    color: #C4D79B
}